.App {
  min-height: 100vh;
  background-color: #09090b;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6366f1;
  transition: all 0.3s ease;
}

.App-link:hover {
  color: #ec4899;
  transform: scale(1.05);
}